<template>
    <div class="d-table-cell align-middle">
        <router-view></router-view>
    </div>
</template>

<script>
export default {
    name: "App",
    mounted() {
        Echo.channel("msg").listen(".MsgServerTest", data => {
            console.log(data.message);
            store.commit("notification/PUSH_NOTIFICATION", data.message);
        });
    }
};
</script>

<style>
.card {
    border-radius: 18px;
}
.circle {
    border-radius: 100%;
}

.btn-primary:hover {
    color: #2176bd;
    background-color: #ffffff;
    border-color: #2176bd;
}

.card-header {
    background-color: rgb(0 0 0 / 0%);
}
.nav-tabs .nav-link.active {
    background-color: #f8fafc00;
    border-radius: 10px 10px 1px 1px;
}
.nav-link:hover {
    border-color: #e9ecef #e9ecef #dee2e6;
    border-radius: 10px 10px 1px 1px;
}
.modal-content {
    border-radius: 1.2em !important;
}
</style>
