<template>
    <div class="card">
        <div class="card-header">
            <nav>
                <div
                    class="nav nav-tabs  card-header-tabs"
                    id="nav-tab"
                    role="tablist"
                >
                    <a
                        class="nav-item nav-link active"
                        id="nav-data-tab"
                        data-toggle="tab"
                        href="#nav-data"
                        role="tab"
                        aria-controls="nav-data"
                        aria-selected="true"
                        >Data</a
                    >
                    <a
                        class="nav-item nav-link"
                        id="nav-password-tab"
                        data-toggle="tab"
                        href="#nav-password"
                        role="tab"
                        aria-controls="nav-password"
                        aria-selected="false"
                        >Password</a
                    >
                </div>
            </nav>
        </div>
        <div class="card-body text-center tab-content">
            <div
                class="tab-pane fade show active"
                id="nav-data"
                role="tabpanel"
                aria-labelledby="nav-data-tab"
            >
                <UpdateData />
            </div>
            <div
                class="tab-pane fade"
                id="nav-password"
                role="tabpanel"
                aria-labelledby="nav-password-tab"
            >
                <ChangePassword />
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters, mapState } from "vuex";
import UpdateData from "./UpdateData";
import ChangePassword from "./ChangePassword";
export default {
    name: "UserUpdate",
    components: {
        UpdateData,
        ChangePassword
    }
};
</script>

<style scoped></style>
