<template>
    <form @submit.prevent="handleUpdate" class="text-left">
        <div class="form-group row">
            <label for="name" class="col-sm-5 col-form-label">
                Current name
            </label>
            <div class="col-sm-7">
                <input
                    type="text"
                    :class="[
                        'form-control',
                        {
                            'is-invalid': Boolean(errors.name != undefined)
                        }
                    ]"
                    id="name"
                    v-model="formData.name"
                    placeholder="New name . . ."
                />
                <span
                    v-if="Boolean(errors.name != undefined)"
                    class="invalid-feedback"
                    role="alert"
                >
                    <strong>{{ errors.name[0] }}</strong>
                </span>
            </div>
        </div>
        <div class="form-group row">
            <label for="email" class="col-sm-5 col-form-label">
                Current email
            </label>
            <div class="col-sm-7">
                <input
                    type="text"
                    :class="[
                        'form-control',
                        {
                            'is-invalid': Boolean(errors.email != undefined)
                        }
                    ]"
                    id="email"
                    v-model="formData.email"
                    placeholder="New email . . ."
                />
                <span
                    v-if="Boolean(errors.email != undefined)"
                    class="invalid-feedback"
                    role="alert"
                >
                    <strong>{{ errors.email[0] }}</strong>
                </span>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary circle">
                <svg
                    width="1em"
                    height="1em"
                    viewBox="0 0 16 16"
                    class="bi bi-cloud-upload"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        fill-rule="evenodd"
                        d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z"
                    />
                    <path
                        fill-rule="evenodd"
                        d="M7.646 4.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V14.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3z"
                    />
                </svg>
            </button>
        </div>
    </form>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
    name: "UpdateData",
    data() {
        return {
            formData: {
                name: "",
                email: ""
            },
            errors: {}
        };
    },
    mounted() {
        this.formData.name = this.name;
        this.formData.email = this.email;
    },
    computed: {
        ...mapGetters("auth", ["name", "email"])
    },
    methods: {
        ...mapActions("auth", ["update"]),
        async handleUpdate() {
            this.errors = await this.update(this.formData);
        }
    }
};
</script>

<style scoped></style>
