<template>
    <div>
        <table class="table table-hover  table-borderless">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Code</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr v-if="banks.length == 0" class="text-center">
                    <td colspan="3">no banks added</td>
                </tr>
                <tr v-for="bank in banks" :key="bank.id">
                    <td>{{ bank.name }}</td>
                    <td>{{ bank.code }}</td>
                    <td>
                        <button
                            class="btn btn-sm circle delete shadow-sm "
                            @click="handleDelete(bank.id)"
                        >
                            <svg
                                width="1em"
                                height="1em"
                                viewBox="0 0 16 16"
                                class="bi bi-x"
                                fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"
                                />
                                <path
                                    fill-rule="evenodd"
                                    d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"
                                />
                            </svg>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-center">
            <button
                class="btn btn-primary circle"
                data-toggle="modal"
                data-target="#modalBank"
            >
                <svg
                    width="1em"
                    height="1em"
                    viewBox="0 0 16 16"
                    class="bi bi-plus"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        fill-rule="evenodd"
                        d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"
                    />
                    <path
                        fill-rule="evenodd"
                        d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"
                    />
                </svg>
            </button>
        </div>
        <ModalBank />
    </div>
</template>

<script>
import { mapActions } from "vuex";
import ModalBank from "./ModalBank";
export default {
    name: "Banks",
    components: {
        ModalBank
    },
    props: ["banks"],
    methods: {
        ...mapActions("bank", ["deleteBank"]),
        async handleDelete(id) {
            await this.deleteBank(id);
        }
    }
};
</script>

<style scoped>
.delete {
    color: #e3342f;
    background-color: #fcfcfc;
    border-color: #e3342f;
}
</style>
