<template>
    <table class="table table-hover  table-borderless">
        <thead>
            <tr>
                <th scope="col">Email</th>
                <th scope="col">Online</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="client in clients" :key="client.id">
                <td>{{ client.email }}</td>
                <td>false</td>
            </tr>
        </tbody>
    </table>
</template>

<script>
export default {
    name: "Clients",
    props: ["clients"]
};
</script>

<style scoped></style>
