<template>
    <div class="card">
        <div class="card-header">
            <nav>
                <div
                    class="nav nav-tabs  card-header-tabs"
                    id="nav-tab"
                    role="tablist"
                >
                    <a
                        v-if="admin"
                        class="nav-item nav-link active"
                        id="nav-clients-tab"
                        data-toggle="tab"
                        href="#nav-clients"
                        role="tab"
                        aria-controls="nav-clients"
                        aria-selected="true"
                        >Clients
                        <span class="badge badge-pill badge-primary">
                            {{ clients.length }}
                        </span>
                    </a>
                    <a
                        v-if="admin"
                        class="nav-item nav-link"
                        id="nav-banks-tab"
                        data-toggle="tab"
                        href="#nav-banks"
                        role="tab"
                        aria-controls="nav-banks"
                        aria-selected="false"
                        >Banks
                        <span class="badge badge-pill badge-primary">
                            {{ banks.length }}
                        </span>
                    </a>
                    <a
                        :class="[
                            'nav-item nav-link',
                            {
                                active: Boolean(!admin)
                            }
                        ]"
                        id="nav-accounts-tab"
                        data-toggle="tab"
                        href="#nav-accounts"
                        role="tab"
                        aria-controls="nav-accounts"
                        aria-selected="false"
                        >My accounts</a
                    >
                    <a
                        class="nav-item nav-link"
                        id="nav-notifications-tab"
                        data-toggle="tab"
                        href="#nav-notifications"
                        role="tab"
                        aria-controls="nav-notifications"
                        aria-selected="false"
                        >Notifications
                        <span class="badge badge-pill badge-primary">
                            {{ notification.length }}
                        </span>
                    </a>
                </div>
            </nav>
        </div>
        <div class="card-body tab-content">
            <div
                v-if="admin"
                class="tab-pane fade show active"
                id="nav-clients"
                role="tabpanel"
                aria-labelledby="nav-clients-tab"
            >
                <Clients :clients="clients" />
            </div>
            <div
                v-if="admin"
                class="tab-pane fade"
                id="nav-banks"
                role="tabpanel"
                aria-labelledby="nav-banks-tab"
            >
                <Banks :banks="banks" />
            </div>
            <div
                :class="[
                    'tab-pane fade',
                    {
                        active: Boolean(!admin),
                        show: Boolean(!admin)
                    }
                ]"
                id="nav-accounts"
                role="tabpanel"
                aria-labelledby="nav-accounts-tab"
            >
                My accounts
            </div>
            <div
                class="tab-pane fade"
                id="nav-notifications"
                role="tabpanel"
                aria-labelledby="nav-notifications-tab"
            >
                <Notification :notificaion="notification" />
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters, mapState, mapActions } from "vuex";
import Clients from "./Clients";
import Banks from "./Banks";
import Notification from "./Notification";
export default {
    name: "DashBoard",
    components: {
        Clients,
        Banks,
        Notification
    },
    async mounted() {
        if (this.admin) {
            await this.getClients();
            await this.getBanks();
        }
    },
    computed: {
        ...mapGetters("auth", ["admin"]),
        ...mapState("client", ["clients"]),
        ...mapState("bank", ["banks"]),
        ...mapState("notification", ["notification"])
    },
    methods: {
        ...mapActions("client", ["getClients"]),
        ...mapActions("bank", ["getBanks"])
    }
};
</script>

<style scoped>
.card {
    min-height: 22em;
}
</style>
