<template>
    <div class="container text-center">
        <div
            v-for="(noti, index) in notificaion"
            :key="index"
            class="alert alert-warning"
        >
            ' {{ noti }} "
        </div>
        <div v-if="notificaion.length == 0">
            <span>No notifications</span>
        </div>
        <button class="btn btn-primary circle" @click="handleMessage">
            <svg
                width="1em"
                height="1em"
                viewBox="0 0 16 16"
                class="bi bi-plus"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    fill-rule="evenodd"
                    d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"
                />
                <path
                    fill-rule="evenodd"
                    d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"
                />
            </svg>
        </button>
    </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
    name: "Notification",
    props: ["notificaion"],
    methods: {
        ...mapActions("notification", ["newMessage"]),
        async handleMessage() {
            await this.newMessage();
        }
    }
};
</script>

<style scoped></style>
