<template>
    <div class="card mt-2">
        <div class="card-body text-center">
            <button
                type="button"
                @click="handleLogout"
                class="btn btn-primary circle"
            >
                <svg
                    width="1em"
                    height="1em"
                    viewBox="0 0 16 16"
                    class="bi bi-box-arrow-left"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        fill-rule="evenodd"
                        d="M4.354 11.354a.5.5 0 0 0 0-.708L1.707 8l2.647-2.646a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708 0z"
                    />
                    <path
                        fill-rule="evenodd"
                        d="M11.5 8a.5.5 0 0 0-.5-.5H2a.5.5 0 0 0 0 1h9a.5.5 0 0 0 .5-.5z"
                    />
                    <path
                        fill-rule="evenodd"
                        d="M14 13.5a1.5 1.5 0 0 0 1.5-1.5V4A1.5 1.5 0 0 0 14 2.5H7A1.5 1.5 0 0 0 5.5 4v1.5a.5.5 0 0 0 1 0V4a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-.5.5H7a.5.5 0 0 1-.5-.5v-1.5a.5.5 0 0 0-1 0V12A1.5 1.5 0 0 0 7 13.5h7z"
                    />
                </svg>
            </button>
        </div>
    </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
export default {
    name: "Logout",
    computed: {
        ...mapState("auth", ["auth"])
    },
    methods: {
        ...mapActions("auth", ["logout"]),
        async handleLogout() {
            await this.logout();
            await this.redirect();
        },
        redirect() {
            if (!this.auth) {
                this.$router.push("/login");
            }
        }
    }
};
</script>

<style scoped></style>
