<template>
    <div class="row justify-content-center">
        <div class="col-md-7 col-lg-5 col-xl-4">
            <form @submit.prevent="handleSignup" class="card">
                <div class="card-body">
                    <div class="text-center"><h1>Signup</h1></div>
                    <!-- INPUT NAME -->
                    <div class="form-group">
                        <label for="name">User name</label>
                        <input
                            v-model="formData.name"
                            type="name"
                            :class="[
                                'form-control',
                                {
                                    'is-invalid': Boolean(
                                        errors.name != undefined
                                    )
                                }
                            ]"
                            id="name"
                            placeholder="Name . . ."
                            autocomplete="name"
                            autofocus
                        />
                        <span
                            v-if="Boolean(errors.name != undefined)"
                            class="invalid-feedback"
                            role="alert"
                        >
                            <strong>{{ errors.name[0] }}</strong>
                        </span>
                    </div>
                    <!-- INPUT EMAIL -->
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input
                            v-model="formData.email"
                            type="email"
                            :class="[
                                'form-control',
                                {
                                    'is-invalid': Boolean(
                                        errors.email != undefined
                                    )
                                }
                            ]"
                            id="email"
                            placeholder="Email . . ."
                            aria-describedby="emailHelp"
                            autocomplete="email"
                            autofocus
                        />
                        <small id="emailHelp" class="form-text text-muted"
                            >We'll never share your email with anyone
                            else.</small
                        >
                        <span
                            v-if="Boolean(errors.email != undefined)"
                            class="invalid-feedback"
                            role="alert"
                        >
                            <strong>{{ errors.email[0] }}</strong>
                        </span>
                    </div>
                    <!-- INPUT PASSWORD -->
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input
                            v-model="formData.password"
                            type="password"
                            :class="[
                                'form-control',
                                {
                                    'is-invalid': Boolean(
                                        errors.password != undefined
                                    )
                                }
                            ]"
                            id="password"
                            placeholder="Password . . ."
                            autocomplete="new-password"
                        />
                        <span
                            v-if="Boolean(errors.password != undefined)"
                            class="invalid-feedback"
                            role="alert"
                        >
                            <strong>{{ errors.password[0] }}</strong>
                        </span>
                    </div>
                    <!-- INPUT PASSWORD CONFIRMATION -->
                    <div class="form-group">
                        <input
                            v-model="formData.password_confirmation"
                            type="password"
                            :class="[
                                'form-control',
                                {
                                    'is-invalid': Boolean(
                                        errors.password_confirmation !=
                                            undefined
                                    )
                                }
                            ]"
                            id="password_confirmation"
                            placeholder="Password confirmation . . ."
                            autocomplete="new-password"
                        />
                        <span
                            v-if="
                                Boolean(
                                    errors.password_confirmation != undefined
                                )
                            "
                            class="invalid-feedback"
                            role="alert"
                        >
                            <strong>{{
                                errors.password_confirmation[0]
                            }}</strong>
                        </span>
                    </div>
                    <!-- SUBMIT -->
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary circle">
                            <svg
                                width="1em"
                                height="1em"
                                viewBox="0 0 16 16"
                                class="bi bi-box-arrow-in-right"
                                fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    fill-rule="evenodd"
                                    d="M8.146 11.354a.5.5 0 0 1 0-.708L10.793 8 8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0z"
                                />
                                <path
                                    fill-rule="evenodd"
                                    d="M1 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 1 8z"
                                />
                                <path
                                    fill-rule="evenodd"
                                    d="M13.5 14.5A1.5 1.5 0 0 0 15 13V3a1.5 1.5 0 0 0-1.5-1.5h-8A1.5 1.5 0 0 0 4 3v1.5a.5.5 0 0 0 1 0V3a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-.5.5h-8A.5.5 0 0 1 5 13v-1.5a.5.5 0 0 0-1 0V13a1.5 1.5 0 0 0 1.5 1.5h8z"
                                />
                            </svg>
                        </button>
                    </div>
                    <div class="text-center">
                        <router-link
                            to="/login"
                            class="btn btn-link"
                            role="button"
                        >
                            you have an account? log in
                        </router-link>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from "vuex";

export default {
    name: "Signup",
    data() {
        return {
            formData: {
                name: "",
                email: "",
                password: "",
                password_confirmation: ""
            },
            errors: {}
        };
    },
    computed: {
        ...mapState("auth", ["auth"])
    },
    methods: {
        ...mapActions("auth", ["signup"]),
        async handleSignup() {
            this.errors = await this.signup(this.formData);
            await this.redirect();
        },
        redirect() {
            if (this.auth) {
                this.$router.push("/");
            }
        }
    }
};
</script>

<style scoped></style>
