<template>
    <div class="card">
        <div class="card-body text-center ">
            <h5 class="card-title text-capitalize">
                {{ name }}
                <span class="badge badge-secondary">{{ role }}</span>
            </h5>
            <p class="card-text">
                {{ email }}
            </p>
            <div class="text-center">
                <button
                    v-if="userUpdate"
                    type="button"
                    class="btn btn-primary circle"
                    @click="handleDashBoard"
                >
                    <svg
                        width="1em"
                        height="1em"
                        viewBox="0 0 16 16"
                        class="bi bi-columns-gap"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M6 1H1v3h5V1zM1 0a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1H1zm14 12h-5v3h5v-3zm-5-1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5zM6 8H1v7h5V8zM1 7a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H1zm14-6h-5v7h5V1zm-5-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1h-5z"
                        />
                    </svg>
                </button>
                <button
                    type="button"
                    v-if="!userUpdate"
                    class="btn btn-primary circle"
                    @click="handleUpdate"
                >
                    <svg
                        width="1em"
                        height="1em"
                        viewBox="0 0 16 16"
                        class="bi bi-pencil"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"
                        />
                        <path
                            fill-rule="evenodd"
                            d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"
                        />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</template>

<script>
import { mapState } from "vuex";
export default {
    name: "UserDash",
    props: ["role", "name", "email"],
    computed: {
        ...mapState("app", ["userUpdate"])
    },
    methods: {
        handleUpdate() {
            store.commit("app/SET_USER_UPDATE", true);
        },
        handleDashBoard() {
            store.commit("app/SET_USER_UPDATE", false);
        }
    }
};
</script>

<style scoped>
.circle {
    border-radius: 100% !important;
}
</style>
