<template>
    <div v-if="auth" class="row justify-content-center">
        <div class="col-12 col-md-4">
            <UserDash :role="this.role" :name="this.name" :email="this.email" />
            <Logout />
        </div>
        <div class="col-12 mt-4 col-md-8 mt-md-0">
            <UserUpdate v-if="userUpdate" />
            <DashBoard v-if="!userUpdate" />
        </div>
    </div>
</template>

<script>
import { mapGetters } from "vuex";
import UserDash from "./../../components/UserDash";
import Logout from "./../../components/Logout";
import UserUpdate from "./../../components/UserUpdate";
import DashBoard from "./../../components/DashBoard";

export default {
    name: "Home",
    components: {
        UserDash,
        Logout,
        UserUpdate,
        DashBoard
    },
    computed: {
        ...mapGetters("auth", ["auth", "name", "email", "role"]),
        ...mapGetters("app", ["userUpdate"])
    }
};
</script>

<style scoped></style>
